html {
    scroll-behavior: smooth;
    font-size: $basicTextSize;
    font-family: $mainFontFamily;
}

body {
    color: $mainTextColor;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $headerColor;
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: 150px;
    margin: 0 0 25px 0;
}

h2 {
    font-size: 54px;
    margin: 0 0 54px 0;
    text-align: center;
}

h3 {
    font-size: 28px;
    margin: 0 0 28px 0;
}

p {
    // color: #545454;
    margin: 0 0 20px 0;
}

a {
    color: $headerColor;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 50%;
    padding: 0 15px;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $headerColor;
    border-radius: 30px;
    transition: 0.4s;
    font-size: $smallNotes;
}

.link:hover {
    background-color: $headerColor;
    color: #fff;
}