// GLOBAL

$bodyBg: #fff;
$mainTextColor: #99A799;
// $dataTextColor: #faefff;

$mainFontFamily: 'Poppins',
sans-serif;

$basicTextSize: 15px;
$markedTextSize: 20px;
$smallNotes: 12px;


// // MEDIA QUERIES

// $hideMenuWidth: 1500px;
// $servColWidth: 1200px;
// $homeColWidth: 1010px;
// $portfColWidth: 900px;
// $menuUpWidth: 800px;
// $menuNumHide: 900px;


// // NAVIGATION

// $navBgColor: #362b2E;
// $navWidth: 380px;
// $navNumColor: #c6646b;
// $navTextColor: #fff;


// HEADERS

$headerColor: #66806A;


// // SECTION HOME

// $homeDataBg: #F9F0FF;


// // SECTION SKILLS

// $skillBaseColor: #554247;