// GLOBAL

$bodyBg: #fff;
$coverColor: #d3e4cd;
$mainTextColor: #99a799;
$whites: #fff;

$mainFontFamily: "Poppins", sans-serif;
$secondFontFamily: "Roboto", sans-serif;

$basicTextSize: 15px;
$markedTextSize: 18px;
$smallNotes: 12px;

$sectionPaddingL: 100px 0;
$sectionPaddingM: 80px 0;
$sectionPaddingS: 60px 0;

// MEDIA QUERIES

$laptopWidth: 1600px;
$contactSideBar: 1050px;
$singleColWidth: 800px;
$fullWidth: 600px;
$phoneWidth: 400px;

// HEADERS

$headerColor: #66806a;
