.navigation {
  background-color: $coverColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 0 0;
  z-index: 1;
  // visibility: hidden;

  @media (max-width: $fullWidth) {
    padding: 15px 0 0 0;
  }

  .container {
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $fullWidth) {
        justify-content: center;
      }

      .section {
        margin: 0 40px 20px 0;

        @media (max-width: $fullWidth) {
          margin: 0 20px 10px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(3) {
          @media (max-width: $phoneWidth) {
            text-align: right;
          }
        }

        a {
          color: $mainTextColor;
          text-transform: uppercase;
          transition: 0.2s;

          @media (max-width: $fullWidth) {
            font-size: $smallNotes;
          }

          &:hover {
            color: $headerColor;
            border-bottom: 1.5px solid $headerColor;
          }
        }
      }
    }
  }
}
