.navigation {
  background-color: $coverColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid $whites;
  z-index: 1;

  @media (max-width: $fullWidth) {
    padding: 15px 0;
  }

  .container {
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $fullWidth) {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      .section {
        a {
          color: $mainTextColor;
          font-weight: 500;

          overflow: hidden;

          &:after {
            @include pseudo();
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;

            transform: translateX(-101%);
            transition: transform 0.3s;
          }

          @media (max-width: $fullWidth) {
            font-size: $smallNotes;
          }

          &:hover {
            &::after {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
