.courses {

    li {
        margin: 0 0 20px 0;
        padding: 0 0 0 30px;
        position: relative;
        line-height: 1.5;
        transition: 0.3s;

        &:hover {
            transform: translateX(30px);
            color: $headerColor;
        }

        &:before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid $headerColor;
            position: absolute;
            left: 0;
            top: 4px;
        }

        &:after {
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: $headerColor;
            position: absolute;
            left: 3px;
            top: 7px;
        }
    }
}