.experience {
    padding: $sectionPaddingL;

    @media (max-width: $laptopWidth) {
        padding: $sectionPaddingM;
    }

    @media (max-width: $singleColWidth) {
        padding: $sectionPaddingS;
        padding-top: 0;
    }

    .container {
        padding: 0 0 0 15px;

        .timeline-wraper {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: $singleColWidth) {
                flex-direction: column-reverse;
            }

            .timeline {

                h3 {
                    margin-left: -15px;

                    @media (max-width: $singleColWidth) {
                        margin: 60px 0 25px -15px;
                    }
                }
            }


            .timeline {
                width: 50%;
                padding: 0 15px;

                @media (max-width: $singleColWidth) {
                    width: 100%;
                }
            }

            .item {
                display: flex;
                margin: 0 0 50px 0;

                @media (max-width: $phoneWidth) {
                    margin: 0 0 30px 0;
                }

                &:hover {

                    .year {
                        transform: translateX(-15px);
                        color: $headerColor;
                    }

                    .circle::after {
                        background-color: $headerColor;
                    }

                    .info {
                        color: $headerColor;
                    }
                }

                &:last-child {
                    margin: 0;
                }

                .year {
                    font-weight: 700;
                    font-size: $markedTextSize;
                    transition: 0.3s;
                    width: 10%;
                }

                .circle {
                    position: relative;

                    &::before {
                        position: absolute;
                        top: -7px;
                        left: 41px;
                        content: '';
                        width: 36px;
                        height: 36px;
                        border: 3px solid $headerColor;
                        border-radius: 50%;
                    }

                    &::after {
                        position: absolute;
                        top: 1px;
                        left: 49px;
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        border-radius: 50%;
                        transition: 0.3s;
                    }
                }

                .info {
                    width: 90%;
                    line-height: 1.5;
                    margin: 0 0 0 130px;
                    position: relative;
                    transition: 0.3s;

                    @media (max-width: $phoneWidth) {
                        margin: 0 0 0 100px;
                    }

                    &::before {
                        position: absolute;
                        left: -73px;
                        top: 35px;
                        content: '';
                        width: 3px;
                        height: 100%;
                        background-color: $headerColor;

                        @media (max-width: $phoneWidth) {
                            left: -43px;
                            height: calc(100% - 17px);

                        }
                    }

                    .period {
                        font-weight: 700;
                    }

                }

                &:last-of-type {

                    .info {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            .mark {
                color: $headerColor;
                font-size: $markedTextSize;

                @media (max-width: $phoneWidth) {
                    font-size: $basicTextSize;

                }
            }
        }
    }
}