.hello {
    padding: 200px 0 100px 0;
    text-align: center;
    display: flex;
    justify-content: center;

    @media (max-width: $laptopWidth) {
        padding: $sectionPaddingM;
    }

    @media (max-width: $singleColWidth) {
        padding: $sectionPaddingS;
    }

    .description {
        max-width: 60%;
        font-size: $markedTextSize;

        @media (max-width: $laptopWidth) {
            font-size: 18px;
        }

        @media (max-width: $singleColWidth) {
            max-width: 70%;
        }

        @media (max-width: 500px) {
            max-width: 100%;
            font-size: 16px;
        }

        &:last-child {
            margin: 0;
        }
    }
}