.hello {
    padding: 120px 0 100px 0;

    @media (max-width: $laptopWidth) {
        padding: 100px 0 80px 0;
    }

    @media (max-width: $singleColWidth) {
        padding: 80px 0 60px 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;

        @media (max-width: $singleColWidth) {
            flex-direction: column;
            align-items: center;
        }

        .drop {
            display: none;
            width: 200px;
            margin: 0 0 60px 0;

            @media (max-width: $singleColWidth) {
                display: block;
            }
        }

        .description {
            width: 70%;
            font-size: $markedTextSize;

            @media (max-width: $laptopWidth) {
                font-size: 18px;
            }

            @media (max-width: $fullWidth) {
                width: 100%;
            }

            @media (max-width: $phoneWidth) {
                font-size: $basicTextSize;
            }

            p {

                // czy to jest dobrze złapane?
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}