.home {
    position: relative;

    .ivy {
        position: absolute;
        z-index: 1;
        // width: 300px;
        height: 140%;
        left: 0;
        // filter: drop-shadow(25px 10px 6px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));
        animation-name: float;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition: ease-in-out;
        animation-direction: alternate;

        @media (max-width: 1200px) {
            display: none;
        }

        @keyframes float {
            0% {
                filter: drop-shadow(5px 10px 3px rgba(0, 0, 0, 0.3));
            }

            100% {
                filter: drop-shadow(25px 10px 6px rgba(0, 0, 0, 0.3));
            }
        }
    }

    &::before {
        content: '';
        height: calc(100% - 70px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        background-color: $coverColor;
    }

    .container {
        padding: 0;
        position: relative;
        min-height: 50vh;

        .wraper {
            padding: 60px 15px 0 15px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;


            @media (max-width: $singleColWidth) {
                width: 100%;
                justify-content: center;
            }

            .introduction {
                width: 71%;

                @media (max-width: $fullWidth) {
                    width: 100%;
                }


                h1 {
                    @include fluid-type(320px, $contactSideBar, 100px, 140px);
                    margin: 0 0 25px 0;
                }

                p {
                    font-size: $markedTextSize;
                    padding: 0 0 0 10px;

                    @media (max-width: $singleColWidth) {
                        margin: 0;
                    }
                }
            }

            .my-photo {
                display: block;
                width: 25%;
                margin: 0 0 20px 0;

                @media (max-width: $singleColWidth) {
                    display: none;
                }
            }
        }
    }
}