.passions {
    padding: $sectionPaddingL;
    padding-bottom: 0;

    @media (max-width: $laptopWidth) {
        padding: $sectionPaddingM;
        padding-bottom: 0;

    }

    @media (max-width: $singleColWidth) {
        padding: $sectionPaddingS;
        padding-bottom: 0;
    }

    h2 {
        padding: 0 15px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .photo {
        width: calc(100%/6);
        padding: 15px;
        position: relative;
        transition: 0.4s;

        @media (max-width: $singleColWidth) {
            width: calc(100% / 3);
        }

        @media (max-width: $phoneWidth) {
            width: 50%;
        }

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        // co to za kreski...
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &::after {
                content: '';
                background-color: $headerColor;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }

            &:hover::after {
                transform: translateY(100%);
            }
        }
    }
}