.rodo {
    padding: 30px 0;
    background-color: $coverColor;
    color: $headerColor;

    .container {

        p {
            font-size: $smallNotes;
            text-align: center;
            margin: 0;
        }
    }
}