.skills {
    padding: $sectionPaddingL;

    @media (max-width: $laptopWidth) {
        padding: $sectionPaddingM;
    }

    @media (max-width: $singleColWidth) {
        padding: $sectionPaddingS;
    }
}