.hello {
  margin: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hello .description {
  padding: 0 15px;
  max-width: 80%;
}

.hello .description .my-photo {
  width: 150px;
  margin: 0 0 28px 0;
}