.hello {
  margin: 100px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hello .description {
  padding: 0 15px;
  max-width: 60%;
}

.hello .description .my-photo {
  width: 150px;
  margin: 0 0 28px 0;
}
